@import url("footer.css");
/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  font-family: "Merriweather", serif;
  padding: 1rem 0;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

p,
li {
  font-family: "Merriweather", serif;
  padding: 1rem 0;
  line-height: 1.7rem;
  font-size: 1.2rem;
  list-style: decimal inside;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.modal-btns {
  border: none;
  background: transparent;
  transition: transform 0.3s ease;
}

span {
  opacity: 0.3;
  font-size: 1rem;
}

.modal-btns:hover {
  transform: rotate(90deg);
}

.modal-text {
  display: none;
}

.show-text .modal-text {
  display: block;
}

.minus-icon {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .plus-icon {
  display: none;
}

.main-container,
.hero {
  /* padding: 0 7rem; */
  padding: 0 23rem 2rem 23rem;
  margin-bottom: 3.5rem;
}

/* .para-space {
  padding: 1rem 0;
  line-height: 1.7rem;
  font-size: 1.2rem;
} */

.navbar {
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.hero-bg {
  background-color: #f5f8fb;
}
.hero-img {
  padding: 3rem 0;
  background-size: contain;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-bottom: 1.8rem;
}

.card {
  padding-bottom: 3rem;
  margin: 5rem 0;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-text,
.modal-title {
  padding: 0 7rem;
}

.title-text {
  /* padding: 1rem 2rem; */
  padding: 1rem 2rem 3rem 2rem;
}

div.hero h1 {
  font-size: 3rem;
}

.font-lg {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: grey;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  text-decoration: none;
  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

.share-btn {
  padding-top: 0;
  text-align: end;
  padding-right: 10rem;
}

.share-btn:hover {
  color: greenyellow;
}

.main-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.headtext {
  color: #ffffff;
  opacity: 1;
}

/* Responsive styles for main-container class */
@media (min-width: 576px) {
  .main-container {
    align-content: center;
    max-width: 540px;
    text-align: left;
    word-wrap: break-all;
  }

  .card-category {
    font-size: 2rem;
  }

  .headtext {
    font-size: 8rem;
  }
}

@media (min-width: 768px) {
  .main-container {
    align-content: center;
    max-width: 720px;
    text-align: left;
    word-wrap: break-all;
  }

  .card-category {
    font-size: 2rem;
  }

  .headtext {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}
